@import url('https://fonts.googleapis.com/css?family=Courgette|Josefin+Sans|Lato&display=swap');
*{scroll-behavior: smooth;}

html {
   background: var(--bg);
   color: var(--color);
   --bg: #fcfcfc;
   --color: #333;
   --card-bg: #dcdcdc;
   --nav-bg: teal;
}

html[data-theme='dark'] {
   --bg: #000;
   --color: rgb(214, 212, 212);
   --card-bg: teal;
   --nav-bg: #414141;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
   transition: all 850ms !important;
   transition-delay: 0 !important;
}

body{
   margin: 0;
   padding: 0;
   font-family: 'Lato';
   box-sizing: border-box;
   overflow-x: hidden;
}

::-webkit-scrollbar {width: 6px; background: #fff}
::-webkit-scrollbar-thumb {background: #000;}
::selection{color:#dcdcdc; background: coral;}

/* UNIVERSAL */
p {
   font-family: 'Lato';
   font-size: 1.4rem;
   font-weight: 600;
   word-spacing: 2.5px;
}

h2{
   font-family: 'Courgette';
   font-size: 3.3rem;
   color: teal;
   text-indent: 1rem;
   padding: 30px 0 20px 0;
}

span {
   color: crimson;
   font-weight: bold;
}

.span1{
   color: #4831d4;
}

h3{
   text-indent: 2rem;
   font-size: 1.4rem;
}

h4{
   font-size: 2.3rem;
   margin: 0;
   padding: 0;
   font-family: 'Josefin Sans'
}

a{
   text-decoration: none;
   color: #fff;
}

.button:hover a {
   color: #333;
   transition: 1s;
}

.pro {color: rgb(105, 105, 105);}

/* NAVIGATION BAR */
.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px;
   background: transparent;
   font-family: 'Josefin Sans';
   font-weight: bold;
   z-index: 3;
}

.navbar ul {
   display: flex;
   justify-content: space-around;
}

.navbar ul li{
   list-style-type: none;
}


.navbar ul li a{
   position: relative;
   top: -2px;
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
   font-size: 1.3em;
   transition: .6s;
}

.navbar ul li a::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 3px;
   left: 0;
   top: -15px;
   background: crimson;
   transform: scaleX(0);
}

.navbar ul li a::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 3.5px;
   left: 0;
   top: 32px;
   background: crimson;
   transform: scaleX(0);
}


.navbar ul li a:hover::before,
.navbar ul li a:hover::after{
   transform: scaleX(1);
   transition: .6s;
}

.navbar ul li a:hover {color: crimson; text-decoration: none;}

/* HEADER */
.header {
   min-width: 100%;
   height: 100vh;
}

.bg{
   position: absolute;
   top: 0;
   left: 0;
   background: url('img/bg.png') no-repeat center center/cover;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   filter: blur(3px);
}

.black-overlay{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: calc(100vh + 2px);
   background: rgba(0,0,0, .7);
}

h1 {
   position: relative;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 4.5rem;
   font-family: 'Courgette';
   color: #fff;
   text-shadow: 2.5px 0 0 teal, 
               -2.5px 0 0 teal, 
               0 2.5px 0 teal, 
               0 -2.5px 0 teal, 
               2.5px 2.5px teal, 
               -2.5px -2.5px 0 teal, 
               2.5px -2.5px 0 teal, 
               -2.5px 2.5px 0 teal;
}

.text-shadow {
   text-shadow: 2.5px 0 0 #fff, 
               -2.5px 0 0 #fff, 
               0 2.5px 0 #fff, 
               0 -2.5px 0 #fff, 
               2.5px 2.5px #fff, 
               -2.5px -2.5px 0 #fff, 
               2.5px -2.5px 0 #fff, 
               -2.5px 2.5px 0 #fff;
}

.header > p {
   position: relative;
   top: 210px;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 2.5rem;
   font-family: 'Courgette';
   color: #000;
   text-shadow: 1px 0 0 #dcdcdc, 
               -1px 0 0 #dcdcdc, 
               0 1px 0 #dcdcdc, 
               0 -1px 0 #dcdcdc, 
               1px 1px #dcdcdc, 
               -1px -1px 0 #dcdcdc, 
               1px -1px 0 #dcdcdc, 
               -1px 1px 0 #dcdcdc;
}

.button {
   position: absolute;
   top: 58%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: transparent;
   border: 2px solid #fff;
   font-size: 1.5rem;
   font-family: 'Courgette';
   cursor: pointer;
   padding: 2px 10px;
   transition: 1s;
}

.button:hover {
   background: #fff;
   border-color: #333
}

/* SWITCH */
.switch{
   position: relative;
   display:block;
   width: 180px;
   height: 65px;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 10px; left: 50%; right: 0; bottom: 0;
   background:#fff;
   transition: .5s;
   border: 3px solid #333;
}

.slider::before{
   position: absolute;
   content: '';
   bottom: 14px;
   top: 8px;
   background-color: #333;
   transition: .5s;
}

.switch input {display: none;}

input:checked + .slider {
   background-color: black;
   border-color: #fff;
}

.round {border-radius: 30px;}

.round::before {
   width: 43%;
   height: 43%;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   transform: rotateZ(-45deg);
}

input:checked + .slider::before{
   transform: translateX(47px) rotate(45deg);
   background: #fff;
}

/* ARTICLE */
.article {
   width: 80%;
   margin: 0 auto;
}

/* PRONUNCIATION */
.pronunciation{
   position: relative;
   width: 85%;
   margin: 0 auto;
}

.pronunced {
   border-right: 4px solid var(--card-bg);
   border-bottom: 4px solid var(--card-bg);
   padding: 0.4rem;
   border-radius: 5px;
   margin-top: 20px;
}

.pronunced > h3{margin-top: -15px;}

.alphabet {
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(9, 1fr);
}

.alphabet li{
   font-size: 1.6rem;
}

.alphabet li p{
   color: crimson;
   margin-bottom: -35px;
   margin-top: 25px;
   font-weight: bold;
   font-family: 'Courgette';
   font-size: 1.9rem;
}

.alphabet li span{
   color: rgb(83, 83, 83);
   font-size: 1.3rem;
}

/* REISME */
table, tr, td{
   border: 3px solid #c9c9c9;
   border-collapse: collapse;
}

td {font-size: 24px; padding: 6px 12px;}

/* GENDERS */
.flex{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.man{
   width: 31%;
   font-size: 12px;
}

.female{
   width: 31%;
   font-size: 12px;
}

.unknown{
   width: 31%;
   font-size: 12px;
}

/* NOUNS */
.hover {
   text-align: center;
   font-size: 1.1rem;
   color: #808080;
   margin-bottom: 30px;
   animation-name: hover;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}

@keyframes hover{
   0%{opacity:0.4;}
   50%{opacity:1;}
   100%{opacity:0.4;}
}

.stage {
	list-style: none;
   padding: 0;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.scene {
	width: 200px;
	height: 90px;
	margin: 20px;
   perspective: 1000px;
}

.movie {
	width: 200px;
	height: 90px;
	transform-style: preserve-3d;
	transform: translateZ(-130px);
	transition: transform 350ms;
}

.movie:hover {
	transform: rotateY(-90deg);
}

.movie .poster, 
.movie .info {
	position: absolute;
	width: 200px;
	height: 90px;
   background-color: #f9d342;
   color: #292826;
   box-shadow: 0px 5px 10px 0px #000;
}

.movie .poster  {
	transform: translateZ(99px);
   text-align: center;
}

.poster > p {   
   font-size: 2.2rem;
   font-family: 'Josefin Sans';
   font-weight: 600;
   line-height: 35px;
}

.movie .info {
	transform: rotateY(90deg) translateZ(99px);
   background: #1d1b1b;
}

.info header .h1{
   font-size: 2rem;
   color: #f9d342;
   text-shadow: none;
   font-weight: bold;
   font-family: 'Josefin Sans';
   margin-top: 15px;
}

.font {
   color: #c9c9c9;
   text-align: center;
   font-size: 1.2rem;
}

.info header {
	color: #FFF;
	font-weight: bold;
	height: 100px;
}

.info header h1 {
	font-size: 2rem;
}

/* Verbs */
.h1-v{
   position: absolute;
   top: -57px;
   left: 50%;
   transform: translateX(-60%);
   text-align: center;
   font-size: 1.7rem;
   color: #f9d342;
   font-family: 'Josefin Sans';
}

.p1 {
   font-size: 0.75rem;
   margin :0;
   padding: 0;
   text-align: center;
   color: #adadad;
}

.font-v {
   color: #dcdcdc;
   text-align: center;
   font-size: 17px;
   margin: 1px;
   padding: 0;
}

.verbs{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 20px;
}

.irregular-verbs {
   border-bottom: 4px solid teal;
   border-left: 4px solid teal;
   padding: 12px;
   transition: 600ms;
   position: relative;
}

.fa-plus {
   position: absolute; 
   top: 21px; 
   right: 12px; 
   cursor: pointer;
}

/* Adjectives */
.adjective{
   width: 90%;
   margin: 0 auto;
   font-family: 'Josefin Sans';
   letter-spacing: 0.1px;
}

.low{ line-height: 3px; margin-top: -10px; }

#plus, #plus2, #plus3, #plus4, #plus5, #plus6, 
#plus7, #plus8, #plus9, #plus10, #plus11, #plus12, 
#plus13 {font-size: 1.4rem; color: rgb(109, 109, 109)}

.close{display: none; transition: 600ms;}
.open{display: flex; justify-content: space-evenly; flex-wrap: wrap; list-style: none; padding: 0;}

/* RESPONSIVE */
@media (max-width: 1050px) {
   h2 { font-size: 2.6rem; }
   .button {margin-top: 150px;}
   .pronunciation > .alphabet {grid-template-columns: repeat(6, 1fr);}
   .alphabet li {font-size: 1.4rem; margin-bottom: 15px;}
   .alphabet li p {margin-bottom: -30px;}
   .pronunced{padding:0.1rem;}
   /*.stage, .stage-v {display: grid; grid-template-columns: repeat(3, 1fr);}*/
}

/* RESPONSIVE NAVBAR */ 
@media (max-width: 890px){
   /*.stage, .stage-v {display: grid; grid-template-columns: repeat(2, 1fr);}*/
   .flex {flex-direction: column;}
   .man, .female, .unknown {width: 90%; margin: 10px auto;}
   .navbar{background: transparent; transition: 800ms;}
   .hover{font-size: 16px;}

   .ul{
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      height: 300px;
      background: teal;
      transition: 600ms;
      overflow-y: auto;
      z-index: 1;
   }
   
   .navbar .ul{display: block;}
   .navbar .ul li {margin: 25px 0 0 -20px; font-size: 18px;}
   .navbar .ul li a::before, .navbar .ul li a::after {display: none;}
   .navbar .ul li a:hover{ transform: translateX(100px); }

   input[type="checkbox"]{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 10;
      cursor: pointer;
      opacity: 0;
      transition: 600ms;
   }
   
   input[type="checkbox"]:checked ~ .icon::before { content: 'menu'; }
   
   .icon{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 11;
      background: teal;
      pointer-events: none;
      transition: 600ms;
      font-size: 16px;
   }
   
   .icon::before{
      content: 'x';
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 45px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
   }
   
   input[type="checkbox"]:checked ~ .navbar {
      left: -930px;
      transition: 800ms;
   }
}

@media(max-width:700px) {
   h1 { font-size: 48px; }
   .header > p {font-size: 1.5rem; font-weight: bold; padding: 0 10px;}
   .pronunciation > .alphabet {grid-template-columns: repeat(3, 1fr);}
   .pronunciation > p {font-size: 25px;}
}